apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Website }}
spec:
  selector:
    matchLabels:
      app: {{ .Website }}
  template:
    metadata:
      labels:
        app: {{ .Website }}
    spec:
      containers:
        - name: {{ .Website }}
          image: nginx:1.23.1-alpine
          resources:
            limits:
              memory: "128Mi"
              cpu: "100m"
          ports:
            - containerPort: 80
          command:
            - bin/sh
          args:
            - -c
            - |-
              echo $'{{ .Body }}' > /usr/share/nginx/html/index.html && nginx -g 'daemon off;'
