apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Website }}-ingress
  labels:
    name: {{ .Website }}-ingress
spec:
  rules:
    - http:
        paths:
          - pathType: Prefix
            path: /{{ .Website }}
            backend:
              service:
                name: {{ .Website }}-service
                port:
                  number: 80
